#docker-compose.yml
version: "3"
services:
  emerging-tech-times:
    build: .
    command: bash -c "npm run build && npm run dev"
    restart: always
    container_name: Emerging-Tech-Times
    volumes:
      - './vite.config.ts:/app/vite.config.ts'
    ports:
      - "5715:5173"
    networks:
      - Emerging-Tech-Times

networks:
  Emerging-Tech-Times:
    driver: bridge
 